.main__routine-image img {
    display: inline-block;
    width: 300px;
    height: 200px;
    margin-bottom: 40px;
    border-radius: 40px;
}
.main-exchange-container--title {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    padding:20px;
}
.main__routine-content h3 {
    line-height: 2.2rem;
    text-align: center;
}
.routine-video {
    width: 300px;
    height: 200px;
    margin: 50px 0;
}