.main-tables-container-grid {
    display: grid;
    width: 100%;
    max-width: 100vw;
    grid-template-columns: repeat(2, minmax(300px, 300px));
    justify-content: space-around;
    overflow: hidden;
}
.main-tables-container-coins li,
.main-tables-container-coins-value li {
    padding: 20px;
}
.currency-table--date {
    margin-top:50px;
}
.currency-table--date-commissions {
    margin-top:50px;
}
.main-tables-container li {
    height: 50px;
}
.right-arrow,
.left-arrow {
    display: none;
}
.bitcoin-img-container{
    background-image: url(../assets/img/bitcoinbaby_tablet.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.product-cards--container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.plans-container--slider {
    overflow: hidden;
}